@@font-face {

}
.wrapper {
  max-width: 940;
  margin 0;
  paddig 0;
  align-items: center;
  background-color: blue;
}
h1 {
  font-family: 'Open Sans', sans-serif;

}
article {
  align-self: center;
  font-family: sans-serif;
}
